<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-hasheader">
	<div class="palm-header">
		App B!
	</div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text" id="updateArea1">
	
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<div id='updateArea2'><span x-mojo-loc="">Info passed from launcher app</span></div>
	</div>
	<div class="palm-list">
		<div class='palm-row single'>
			<div class="palm-row-wrapper">
				<div class="label left">title</div>
				<div id="app-title" class="title right">????</div>
			</div>
			<div class="palm-row-wrapper">
				<div class="label left">id</div>
				<div id="app-id" class="title right">????</div>
			</div>
			<div class="palm-row-wrapper">
				<div class="label left">version</div>
				<div id="app-version" class="title right">????</div>
			</div>
		</div>
	</div>
</div>
